<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <property name="pattern_console">
            %d{HH:mm:ss.SSS} [%t] %-5level %logger{2} - %msg%n
        </property>
        <property name="pattern_file">
            %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{5} - %msg%n
        </property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern_console}"/>
        </Console>

        <File name="TxtFile" fileName="logs/log.txt" bufferedIO="true">
            <PatternLayout pattern="${pattern_file}"/>
        </File>

        <RollingFile name="rollingFile"
                     fileName="logs/log.txt"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval = "1" />
                <SizeBasedTriggeringPolicy
                        size="250 MB" />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" level="info"/>
            <AppenderRef ref="TxtFile" level="info"/>
        </Root>
    </Loggers>
</Configuration>
